main {
    padding-bottom: 25px;
}

.search-container{
    border: 1.4px solid #656565;
    margin: auto;
    margin-top: 50px;
    display: flex;
    width: 420px;
    padding: 1.2em 1em;
    justify-content: center;
}

.search-input {
    width: 92%;
    font-size: 1.3em;
    border: none;
    outline: none;
  }
  
.search-icon {
    min-height: 20px;
    min-width: 20px;
    padding:0;
  }

.search-results {
    border: 1.4px solid #d3d0ce;
    margin: auto;
    margin-top: 20px;
    display: flex;
    width: 418px;
    padding: 0.2em 1em;
    text-align: left;
    display:flex;
    align-items: center;
}

.search-results-text{
    font-size: 1.3em;
    padding: 0;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
/* Responsiveness <3 */
@media (max-width: 504px) {
    .search-container {
        min-width: 250px;
        margin: auto;
        margin-top: 25px;
    }
    .search-results {
        min-width: 248px;
        margin: auto;
        margin-top: 10px;
    }
}